:root {
  --primary-color: #0078ff;
  --background-color: #000000;
  --text-color: #333;
  --text-light: #555;
  --white: #ffffff;
  --black: #000;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Kassa ikonen  */
.cart-badge {
  background-color: red !important; 
  color: white !important; 
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
}
